{
  "presets": [
    "react",
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./app/javascript/src"],
    }],
  ],
}
